body {
  background-color: #f6f6f6 !important;
}

.header {
  overflow: hidden;
  height: 5rem;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  font-size: 2rem;
  color: #1e90ff;
  text-align: center;
  line-height: 5rem;
}

.comment-main {
  margin-top: 0.5rem;
}

.comment-left {
  padding: 0.3rem;
  border-radius: 0.3rem;
  background-color: #fff;
}

.comment-right {
  padding: 0.3rem;
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  background-color: #fff;
}
