body {
  background-color: #f6f6f6;
}

Button {
  float: right;
}

.header {
  height: 5rem;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  font-size: 2rem;
  color: #1e90ff;
  text-align: center;
  line-height: 5rem;
}

.comment-main {
  margin-top: .5rem;
}

.comment-left {
  padding: .5rem;
  border-radius: .5rem;
  background-color: #fff;
}

.comment-right {
  padding: .5rem;
  margin-left: .5rem;
  border-radius: .5rem;
  background-color: #fff;
}