.comment-item {
  position: relative;
  padding: 0.5rem 0;
  margin-right: 2.4rem;
  border-top: 1px solid #ccc;
  list-style: none;
}

.comment-item-user {
  font-size: 1.2rem;
}

.comment-item Button {
  position: absolute;
  right: 0;
}

.comment-item p {
  padding-top: 0.8rem;
  font-size: 1rem;
  text-indent: 2rem;
}
